@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@1&family=Josefin+Sans&display=swap');


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 225, 225);
}

header {
    margin: 2rem;
    font-family: 'Almendra', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

.canvasdiv {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(16, 20px);
    background-color: rgb(39, 37, 37);
    padding: 20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}