@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@1&family=Josefin+Sans&display=swap');


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 225, 225);
}

header {
    margin: 2rem;
    font-family: 'Almendra', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}

.canvasdiv {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: rgb(39, 37, 37);
    padding: 20px;
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

input {
    margin: 2rem;
    text-align: center;
}

label {
    text-align: center;
    font-family: 'Almendra', serif;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    margin-bottom: 2rem;
    font-family: 'Almendra', serif;
    font-family: 'Josefin Sans', sans-serif;
}